
html {
  background-color: linen;
  /*
  Black: #000000 #000
  White: #ffffff #fff
  Red: #ff0000   #f00
  Blue: #0000ff  #00f
  Grey: #ccc, #333
  */

  color: #fff;

}

h1
 {
  color: gray;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  text-shadow: -2px 5px 10px none;
  font-family: 'PT Sans', sans-serif;
  /*
  text shadow:
  horizontal offset
  vertical offset
  blur radius/ size
  colour
  */
}
h2
{
  color: gray;
  font-weight: none;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0px 0px 0px none;
  font-family: 'PT Sans', sans-serif
}
p {
  font-style: normal; /*italic, normal*/
  text-decoration: none; /*underline, none, line-through*/
  text-align: left; /*left, center, right, justify*/
  font-family: arial,sans-serif;
  color: #000;
}
q {
  font-style:italic;
  padding: 0;


}
figcaption {
  font-style: italic;
  color: #000;

}
dl {
  color:#000;

}
ol1 {
  color: #000;
  list-style-type: none;
  padding: 0;
}
ol2 {
  color: #000;
  list-style-type: lower-roman;

  /*decimal
  circle
  lower-alpha
  lower-roman
  upper-alpha
  upper-roman
  square
  disc
  none
  */

  padding: 0;
}

a {
  color: saddlebrown;

}

a:hover {
  color: red;
}

gainsboro {
  color:gainsboro;

}
